/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 jun. 2024, 20:34:01
    Author     : david
*/

/* style.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

/* Estilos para encabezados */
h1 {
    color: #333;
    text-align: center;
}

/* Estilos para formularios */
form {
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input[type="text"],
form select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}
